/* style.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

body {
  background-image: url(images/purty_wood.png);
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 1em;
}

.fw300 {
  font-weight: 300;
}
.fw400 {
  font-weight: 400;
}
.fw500 {
  font-weight: 500;
}
.fw900 {
  font-weight: 900;
}

#main_header {
  position: relative;
  width: 1400px;
  margin: 0 auto;
  background: #fff;
  height: 200px;
  padding-top: 35px;
  margin-top: 100px;
}

#main_header > .barcode {
  position: absolute;
  width: 200px;
  left: 30px;
  top: 60px;
}
#main_header > .header_group{
  text-align: center;
}
#main_header > .time{
  position: absolute;
  right: 30px;
  top: 50px;
}

.header_group .sub-title{
  font-size: 24px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
.header_group > h1 {
  font-size: 76px;
  line-height: 76px;
  margin-bottom: 0.5rem; /* 기본 글자 1칸 크기 */
}

.header_group {

}
.header_group .copy {
  text-transform: uppercase;
  font-size: small;
  color: #333;
}
.time {
  font-size: 2em;
  text-align: right;
}
.date {
  letter-spacing: 1.3px;
}
.day {
  line-height: 2rem;
  padding-top: 15px;
}

#gnb {
  width: 1400px;
  background: #fff;
  margin: 0 auto;
  border-top: 1px solid #000;
  border-bottom: 3px solid #000;
  padding-left: 30px;
  padding-right: 30px;
}
#gnb ul {
  overflow: hidden;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#gnb ul li {
  float: left;
  width: calc(100% / 5);
  text-align: center;
  border-left: 1px solid #000;
}

/* 마지막 li 우측에 선 추가 */
#gnb ul li:last-child {
  border-right: 1px solid #000;
}

#gnb ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  font-size: 1.4rem;
}